<div class="e-container" >

  <div class="row mt-3 mb-3 justify-content-between align-items-center">
    <div class="scale-in-center">
      <p class="e-title">
        <span class="material-icons e-title-icon">home_work</span>
        Mes Congés
      </p>
    </div>
    <button class="btn ml-2 scale-in-center"  (click)="openAddDialog()"  mat-ripple>
      <i class="material-icons icon-blue" >
        add
      </i>
    </button>
  </div>


  <div class="row scale-in-center" *ngIf="conges?.length != 0">
    <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

      <ng-container matColumnDef="nature" >
        <mat-header-cell *matHeaderCellDef >Nature</mat-header-cell>
        <mat-cell *matCellDef="let conge" >
          <p class="cell-text"  > {{conge.nature}} </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nbJour">
        <mat-header-cell *matHeaderCellDef >Nombre du jour</mat-header-cell>
        <mat-cell *matCellDef="let conge" >
          <p class="cell-text" > {{conge.nbJour}} </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateDebut">
        <mat-header-cell *matHeaderCellDef >Date début</mat-header-cell>
        <mat-cell *matCellDef="let conge" >
          <p class="cell-text" > {{conge.dateDebut | date}} </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateFin">
        <mat-header-cell *matHeaderCellDef >Date fin</mat-header-cell>
        <mat-cell *matCellDef="let conge" >
          <p class="cell-text" > {{conge.dateFin | date}} </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="adresseDurantConge">
        <mat-header-cell *matHeaderCellDef >Adresse durant congé</mat-header-cell>
        <mat-cell *matCellDef="let conge" >
          <p class="cell-text" > {{conge.adresseDurantConge}} </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef >Status</mat-header-cell>
        <mat-cell *matCellDef="let conge"  >
          <p class="cell-text status" [ngClass]="conge.status"> {{conge.status}} </p>
        </mat-cell>
      </ng-container>

      <mat-header-row class="mat-header-row text-center" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="mat-row" *matRowDef="let type; columns: displayedColumns;" ></mat-row>
    </table>
    <mat-paginator class="full-width" [pageSizeOptions]="[10]"></mat-paginator>

  </div>

  <div class="row justify-content-center align-items-center scale-in-center">
    <p class="col-12 text-center server-error mt-3" *ngIf="conges?.length == 0" >Aucune demande trouvé</p>
  </div>

</div>
