<div class="dialog-container">

  <p class="dialog-title">Détails d'employé</p>

  <div class="row justify-content-center align-items-center scale-in-center mt-3 p-4">

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Nom: &nbsp;</span>
      <span class="-data">{{data.nom}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Prénom: &nbsp;</span>
      <span>{{data.prenom}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Matricule: &nbsp;</span>
      <span>{{data.matricule}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Date et lieu de naissance: &nbsp;</span>
      <span>{{data.dateLieuNaissance}}</span>
    </div>


    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Nationalité: &nbsp;</span>
      <span>{{data.nationnalite}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Etat civile: &nbsp;</span>
      <span>{{data.etatCivil}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Nomber d'enfant: &nbsp;</span>
      <span>{{data.nombreEnfant}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Addresse: &nbsp;</span>
      <span>{{data.adresse}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">CIN: &nbsp;</span>
      <span>{{data.cin}}</span>
    </div>

    <div class="col-12 col-md-6">
      <span style="font-weight: 500">Délivré Le: &nbsp;</span>
      <span>{{data.delivreLe}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Téléphone: &nbsp;</span>
      <span>{{data.tel}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Numéro CNSS: &nbsp;</span>
      <span>{{data.numeroCnss}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Catégorie permis de conduite: &nbsp;</span>
      <span>{{data.categoriePermis}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Numéro permis de conduite: &nbsp;</span>
      <span>{{data.numeroPermisConduire}}</span>
    </div>


    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Niveau Instruction: &nbsp;</span>
      <span>{{data.niveauInstruction}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Diplome: &nbsp;</span>
      <span>{{data.diplome}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Année: &nbsp;</span>
      <span>{{data.anneeDiplome}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Etablissement: &nbsp;</span>
      <span>{{data.etablissement}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6">
      <span style="font-weight: 500">Date d'embauche: &nbsp;</span>
      <span>{{data.dateEmbauche}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Type de contrat: &nbsp;</span>
      <span>{{data.typeContart}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Début de contrat: &nbsp;</span>
      <span>{{data.debutContrat}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Fin de contrat: &nbsp;</span>
      <span>{{data.finContrat}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Salaire net: &nbsp;</span>
      <span>{{data.salaireNet}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Qualifiation: &nbsp;</span>
      <span>{{data.qualification}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Date début qualification: &nbsp;</span>
      <span>{{data.dateDebutQualification}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Affectation: &nbsp;</span>
      <span>{{data.affectation}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Département: &nbsp;</span>
      <span>{{data.departement}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Section: &nbsp;</span>
      <span>{{data.section}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Date Titularisation: &nbsp;</span>
      <span>{{data.dateTitularisation}}</span>
    </div>

    <div style="margin-bottom: 5px" class="col-12 col-md-6 ">
      <span style="font-weight: 500">Compétence academique: &nbsp;</span>
      <span>{{data.competenceAcademique}}</span>
    </div>

  </div>

</div>
