<div class="e-container" >

  <div class="row mt-3 mb-3 justify-content-between align-items-center">
    <div class="scale-in-center">
      <p class="e-title">
        <span class="material-icons e-title-icon">equalizer</span>
        Statistiques
      </p>
    </div>
    <!--    <button class="btn ml-2 scale-in-center"  (click)="openAddDialog()"  mat-ripple>-->
    <!--      <i class="material-icons icon-blue" >-->
    <!--        add-->
    <!--      </i>-->
    <!--    </button>-->
  </div>

</div>
