<div class="e-container">

  <div class="row mt-3 mb-3 justify-content-between align-items-center">
    <div class="scale-in-center">
      <p class="e-title">
        <span class="material-icons e-title-icon">assignment_turned_in</span>
        demandes de autorisations
      </p>
    </div>
  </div>

  <div class="row scale-in-center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let autorisation">
          <p class="cell-text"> {{autorisation.dateAutorisation | date }} </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="raison">
        <mat-header-cell *matHeaderCellDef>Raison</mat-header-cell>
        <mat-cell *matCellDef="let autorisation">
          <p class="cell-text"> {{autorisation.raissonAutorisation}} </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="employeNom">
        <mat-header-cell *matHeaderCellDef>Employe Nom</mat-header-cell>
        <mat-cell *matCellDef="let autorisation">
          <p class="cell-text"> {{autorisation.employe.nom}} </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="employePrenom">
        <mat-header-cell *matHeaderCellDef>Employe Prénom</mat-header-cell>
        <mat-cell *matCellDef="let autorisation">
          <p class="cell-text"> {{autorisation.employe.prenom}} </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let autorisation">
          <p *ngIf="autorisation.status !== 'PENDING'" class="cell-text status" [ngClass]="autorisation.status"> {{autorisation.status}} </p>
          <div *ngIf="autorisation.status === 'PENDING'" class="cell-btn">
            <mat-icon  class="pointer" (click)="changeStatus(autorisation, 'accepted')" color="success">done</mat-icon>
          </div>
          <div *ngIf="autorisation.status === 'PENDING'" class="cell-btn">
            <mat-icon class="pointer" (click)="changeStatus(autorisation, 'refused')" color="danger">delete</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row class="mat-header-row text-center" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="mat-row" *matRowDef="let type; columns: displayedColumns;"></mat-row>
    </table>

  </div>
</div>
